// VARS

$mainColor: #000;
$mainBlue: #182838;
$seconBlue: #142030;
$lightBlue: #194E84;
$mainWhite: #FFFFFF;
$mainGray: #e7ecf2;
$seconGray: #e5e5e5;


// GLOBAL

html {
    font-family: "Nunito", sans-serif;
    // font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    color: $mainColor;
    background: $seconGray;
}
.body {
    scroll-behavior: smooth;
}

input[type="text"] {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    line-height: 1.1;
    color: #000;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #000;

    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
}

.toggle {
    position: relative;
    overflow: hidden;
}
input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 55px;
    height: 30px;
    background-color: #bdc3c7;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s;

    &:checked {
        background-color: #3498db;
    }

    &::after {
        position: absolute;
        content: "";
        left: 5px;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all 0.4s;
    }

}
input:checked[type="checkbox"]::after {
    left: 30px;
}


.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 1440px) {
        max-width: 90%;
    }
}

.scroll-lock {
    overflow: hidden;
}



// HEADER

.header {
    background: $lightBlue;
    color: $mainWhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    // .header__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        padding: 20px 0;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding: 15px 0;
        }
    }
    &__inner {
        max-width: 260px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
    // .header__money
    &__money {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    // .header__money-item
    &__money-item {
        font-size: 22px;
        line-height: 1.1;
    }
}

.logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    color: $mainWhite;
}

// .burger
.burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
    transition: transform .4s;

    &.active-burger {
        // &:before {
        //     background: #000;
        //     transform: rotate(45deg);
        //     transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        //     top: 8px;
        // }

        // &:after {
        //     background: #000;
        //     transform: rotate(-45deg);
        //     bottom: 10px;
        //     transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        // }

        // & span {
        //     transform: scale(0);
        // }

        transform: rotate(-180deg);
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: $mainWhite;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    span {
        position: absolute;
        top: 9px;
        right: 0;
        width: 100%;
        background: $mainWhite;
        height: 2px;
        transform: scale(1);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
}

// NAVBAR

.navbar {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 290px;
    left: 0;
    top: 0;
    padding-top: 100px;
    background: $mainBlue;
    // background: rgb(185,191,199);
    // background: linear-gradient(180deg, rgba(185,191,199,1) 0%, rgba(229,229,229,1) 35%);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    transition: all .4s;

    color: $mainWhite;

    @media (max-width: 768px) {
        width: 260px;
        padding-top: 140px;
    }

    &.active {
        left: -100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    // .navbar__user
    &__user {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    // .navbar__user-img
    &__user-img {
        width: 90px;
        height: 90px;
        background: $mainGray;
        border-radius: 999px;
    }
    // .navbar__user-info
    &__user-info {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    // .navbar__user-name
    &__user-name {
    }
    // .navbar__user-prof
    &__user-prof {
    }
    // .navbar__user-live
    &__user-live {
        color: green;
    }
    // .navbar__menu
    &__menu {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        gap: 4px;
    }
    // .navbar__menu-item
    &__menu-item {
        color: $mainWhite;
        padding: 12px;
        font-size: 15px;

        display: flex;
        align-items: center;
        gap: 8px;

        background: $seconBlue;

        transition: transform .3s ease;
        img {
            transition: transform .3s ease;
            transform: rotate(-90deg);
        }

        &:hover {
            transition: transform .3s ease;
            img {
                transform: rotate(-90deg) translateY(10px);
            }
        }
    }
}


// HERO

.hero {
    padding: 120px 0px 40px;
    margin-left: 300px;

    transition: all .4s;
    &.active {
        margin-left: 0;
    }

    @media (max-width: 768px) {
        margin-left: 0px;
    }

    // .hero__wrapper
    &__wrapper {
    }
    // .hero__top
    &__top {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    // .hero__top-box
    &__top-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    // .hero__top-title
    &__top-title {
    }
    // .hero__top-pretitle
    &__top-pretitle {
        font-weight: 700;
        font-size: 35px;
        line-height: 1.1;

        @media (max-width: 480px) {
            font-size: 30px;
        }
    }
    &__top-inner {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    // .hero__top-item
    &__top-item {
        cursor: pointer;
        width: auto;
        height: auto;
        border-radius: 10px;
        background: $mainWhite;
        padding: 15px 20px;

        box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.2);
    }
}

// GRID

.grid {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 15px 15px;
    }

    // .grid__inner
    &__inner {
        display: grid;
    }
}

.main__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "inner-1 inner-2"
    "inner-3 inner-2"; 

    .inner-1 { grid-area: inner-1; }
    .inner-2 { grid-area: inner-2; }
    .inner-3 { grid-area: inner-3; }

    .inner-1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;
    
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 15px 15px;
        }
    }
    .inner-2 {
    }
    .inner-3 {
    }
    @media (max-width: 1200px) {
        grid-template-columns: 1fr 250px;
        gap: 15px 15px;
    }
    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "inner-1"
        "inner-2"
        "inner-3"
        "inner-4"; 
    }
}



.box {
    border-radius: 10px;
    background: $mainWhite;
    padding: 20px;

    box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.2);

    // .box__top
    &__top {
        display: flex;
        justify-content: space-between;
    }
    // .box__top-title
    &__top-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.1;

        // margin-bottom: 30px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 2px;
            background: $mainColor;
        }

        @media (max-width: 480px) {
            font-size: 22px;
        }
    }
    &__top-link {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    // .box__inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin-top: 30px;
    }
    &__inner-item {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: flex-end;
    }
    // .box__inner-text
    &__inner-text {
        line-height: 1.1;
    }
    // .box__inner-num
    &__inner-num {
    }

    &__input {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__input-title {

    }
}


// ACCOUNT

.account {
    // .account__grid
    &__grid {
        grid-template-columns: 1fr 1fr;

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }
    // .account__list
    &__list {
        // display: block;
    }
    // .account__list-item
    &__list-item {
        display: block;
    }

    &__btn {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        max-width: 160px;
        width: 100%;
        padding: 12px;
        font-size: 20px;
        border-radius: 10px;
        background: $lightBlue;
        color: $mainWhite;
        margin-top: 14px;
        
        transition: all .3s;
        &:hover {
            background: $mainBlue;
        }
    }
}

// SEND

.send {

    &__grid {
        grid-template-columns: 1fr;
    }
}



// SETTINGS

.settings {
    // .settings__grid
    &__grid {
    }
    // .settings__list
    &__list {
    }
    // .settings__list-item
    &__list-item {
        align-items: center;
    }
}



// ORDER

.order {

    &__grid {
        grid-template-columns: 1fr;
    }

    &__inner {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 20px;

        @media (max-width: 980px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 680px) {
            grid-template-columns: 1fr;
        }
    }

    &__list {

    }

    &__list-item {

    }

    &__link {
        color: inherit;
    }
}


// USERS

.users {

    &__grid {
        grid-template-columns: 1fr;
    }

    &__inner {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 20px;

        @media (max-width: 960px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}